@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  body
  {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #f2ebe3;
        font-family: 'Montserrat', sans-serif; 
  }

  .container
  {
    margin: 50px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  
  .container .desktop_image
  {
    max-width: 300px;
    height: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 2px;
 
    
  }


   .mobile_image
  {
    display: none;
  }

  .product_info
  {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 300px;
    height: 400px;
    background-color:#fffdfd ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 3px;
 
}

 .product_type
{
    padding: 20px 30px;
    font-family: 'montserrat', serif;
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(19, 17, 13, 0.223);

}

 .product_name
{
    padding: 0px 30px;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: rgba(34, 31, 25, 0.881);
    letter-spacing:1px;
    line-height: 30px;
   
}

 .product_desc
{
    padding: 20px 30px;
    font-family: 'montserrat', serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(19, 17, 13, 0.726);
}

.price 
{
    color: #3c8067;
    font-family: 'Fraunces', serif;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 800;
}

.price sup
{
    margin: 0px;
    text-decoration: line-through;
    color:  rgba(19, 17, 13, 0.726);
    font-size: 14px;
    font-weight: 100;
}


.atc
{
   margin: 20px 30px;
   width: 200px;
   height: 40px;
   border: 2px solid #3c8067;
   border-radius: 10px;
   background-color: #3c8067;
   color: white;

}

.atc:hover
{
    cursor:pointer;
    background-color: #1a6045;
}



.atc a
{
    color: #f2ebe3;
    font-family: 'Fraunces', serif;
    text-decoration: none;
    font-weight: 300;
}


@media (max-width: 640px) {


  
    
    .container {
      flex-direction: column;
      margin-top: 100px;
      border-radius: 10px;
      
      
    }
  
    .container .desktop_image {

        display: none;
    }
  
    .mobile_image {
    
     
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  
    .product_info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    }
  
    .product_type {
      
      font-size: 12px;
      padding: 0;
    }
  
    .product_name {
      font-size: 1.5rem;
      line-height: 25px;
      padding: 10px 0;
    }
  
    .product_desc {
      font-size: 10px;
      padding: 5px 0;
    }
  
    .price {
      font-size: 20px;
      padding: 10px 0;
      padding-bottom: 10px;
    }
  
    .atc {
      width: 100%x;
      height: 35px;
      margin: 0;
    }

    .attribution

    {
        margin: 40px;
        padding: 40px;
    }
  }
  
  

   
  
  




  /*
  
  .product_info {
    width: 100%;
    background-color: white;
    text-align: center;
  }
  
  .product_info p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .product_info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .price span {
    text-decoration: line-through;
    margin-left: 5px;
    color: #777;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #27ae60;
  }
  
  .attribution {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #777;
  }
  
  .attribution a {
    color: #777;
    text-decoration: none;
  }
  
  .attribution a:hover {
    text-decoration: underline;
  }
  
